<section class="mail-seccess section">

  <div class="container">
    <div class="row">
      <div class="col-lg-6 offset-lg-3 col-12">
        <!-- Error Inner -->
        <div class="success-inner">
          <h1><i class="fa fa-envelope"></i><span>Bonjour Mr Etien </span></h1>
          <p>Nous vous remercions d'avoir participer au Scrutin, Votre vote a bien ete pris en compte. vous recevrez par mail votre choix</p>
          <a href="#" class="btn btn-primary btn-lg">Go Home</a>
        </div>
        <!--/ End Error Inner -->
      </div>
    </div>
  </div>

</section>
