<div class="container">
  <h5 class="mt-3">MA CARTE D'ELECTEUR</h5>
  <div class="row">
    <div class="col-md-4"></div>

      <div class="col-md-4  py-5 my-5 ">
        <div class="card radius-15  ">
          <div class="card-body mb-4 me-4">
            <div class=" radius-15 card-elector">

              <div>
                <img src="https://bootdey.com/img/Content/avatar/avatar1.png"  class="img-thumbnail" alt="">
              </div>

              <div>
                <p class="data ">
                Nom :KOFFI <br>
                Prénoms : Emmanuel <br>
                Matricule : 21410X <br>
                Fonction : 21410X <br>
                Direction : DRAN
               </p> 
              </div>

              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4"></div>
    </div>

  </div>