<div class="container">
  <div class="row">
    <div class="col-12">
        <div class="section-title mb-4 pb-2">
            <h5 class="title mb-4">JE VOTE <br> Direction : DRAN</h5>
            
        </div>
    </div><!--end col-->
</div><!--end row-->
  <div class="row row-cols-1 row-cols-lg-2 row-cols-xl-4">
    <div class="col">
      <div class="card radius-15">
        <div class="card-body text-center">
          <div class="p-4 radius-15">
            <img src="https://bootdey.com/img/Content/avatar/avatar7.png"  class="img-thumbnail" alt="">
            <h5 class="mb-0 mt-5">Pauline I. Bird</h5>
            <p class="mb-3">Webdeveloper</p>
            <div class="d-grid"> <a href="#" class="btn btn-primary">Je vote</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card radius-15">
        <div class="card-body text-center">
          <div class="p-4  radius-15">
            <img src="https://bootdey.com/img/Content/avatar/avatar1.png"  class="img-thumbnail" alt="">
            <h5 class="mb-0 mt-5">Ralph L. Alva</h5>
            <p class="mb-3">UI Developer</p>
            <div class="d-grid"> <a href="#" class="btn btn-primary">Je vote</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card radius-15">
        <div class="card-body text-center">
          <div class="p-4  radius-15">
            <img src="https://bootdey.com/img/Content/avatar/avatar6.png" class="img-thumbnail"  alt="">
            <h5 class="mb-0 mt-5">John B. Roman</h5>
            <p class="mb-3">Graphic Designer</p>
            <div class="d-grid"> <a href="#" class="btn btn-primary">Je vote</a>
            </div>
            </div>
          </div>
        </div>
      </div>

    <div class="col">
      <div class="card radius-15">
        <div class="card-body text-center">
          <div class="p-4 radius-15">
            <img src="https://bootdey.com/img/Content/avatar/avatar2.png" class="img-thumbnail"  alt="">
            <h5 class="mb-0 mt-5">David O. Buckley</h5>
            <p class="mb-3">Android Developer</p>
            <div class="d-grid"> <a href="#" class="btn btn-primary">Je vote</a>
            </div>
            </div>
          </div>
        </div>
      </div>
  </div>