/* You can add global styles to this file, and also import other style files */

.table{
  box-shadow: 10px 5px 5px gray;

}

:root {
  --blue: #1e90ff;
  --green: #548135;
}

.img-thumbnail{
  height: 120px !important;
  width: 120px!important;
}