<div class="container">
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4  py-5 my-5 ">
      <div class="login">
        <div class="text-center">
          <img src="" alt="" class=" img-login">
        </div>
        
        <p>e-vote csst</p>
        <form>
            <div class="mb-3">
              <label for="username" class="form-label">Nom d'utilisateur</label>
              <input type="email" class="form-control" id="username">
            </div>
            <div class="mb-3">
              <label for="password" class="form-label">Mot de passe</label>
              <input type="password" class="form-control" id="password">
            </div>
          </form> 
          <button class="btn btn-primary" [routerLink]="['/dashboard']" >Se  connecter</button> 
     </div>
    </div>
    <div class="col-md-4"></div>

  </div>

</div>
